@import url("/root/text-base.css");

/*Main Window*/
main.window {
    display: grid;
    gap: 0;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
}

main.window > main.inverted {
    background-color: var(--background-color-secondary);
    color: var(--secondary-text-color);
}

/*Hoverable item*/
.hoverable-item { 
    position: relative;
    transition: bottom 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;
    bottom: 0px;
    right: 0px;
}

.hoverable-item:hover {
    bottom: 20px;
    right: 20px;
}

.hoverable-item-text-shadowed { 
    position: relative;
    transition: bottom 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, text-shadow 0.5s ease-in-out 0s;
    bottom: 0px;
    right: 0px;
    text-shadow: 0px 0px rgba(0, 0, 0, 0.5);
}

.hoverable-item-text-shadowed:hover {
    bottom: 20px;
    right: 20px;
    text-shadow: 20px 20px rgba(0, 0, 0, 0.5);
}

.hoverable-item-box-shadowed { 
    position: relative;
    transition: bottom 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
}

.hoverable-item-box-shadowed:hover {
    bottom: 20px;
    right: 20px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.5);
}


/*Cropped Images*/
img.cropped-circle {
    clip-path: circle(50%);
}

/*Text Boxes*/
main.text-box {
    display: grid;

    padding: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    padding: 20px;
    font-weight: normal;
}

main.info-box-left {
    grid-template-areas:
    "icon"
    "title"
    "content"
    ;

    grid-template-rows: 3fr 1fr 5fr;

    padding-top: 50px;
    padding-bottom: 50px;
}

main.info-box-left > div.title {
    grid-area: title;

    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.info-box-left > div.content {
    grid-area: content;
    gap: 10px;

    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1rem;

    text-align: center;
}

@media all and (min-width: 800px) {
    main.info-box-left {
        grid-template-areas:
        "icon title"
        "icon content"
        ;
        gap: 40px;
    
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    
        padding-top: 50px;
        padding-bottom: 50px;
    }

    main.info-box-left > div.title {
        grid-area: title;
    
        font-family: 'Lexend', sans-serif;
        font-weight: bold;
        font-size: 2rem;
        text-align: left;
    }
    
    main.info-box-left > div.content {
        grid-area: content;
    
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 1rem;
    
        text-align: left;
    }
}

main.image-list {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
}

main.image-list > div.image {
    max-width: 200px;
    max-height: 200px;
}

main.info-box-left > div.icon {
    grid-area: icon;

    max-width: 100%;
    max-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Top Banner*/
@keyframes showTopBannerArrow {
    0% {
        padding-bottom: var(--top-banner-caret-size);
    }

    50% {
        padding-bottom: var(--top-banner-caret-size);
    }

    100% {
        padding-bottom: 0;
    }
}

main.top-banner {
    display: grid;
    gap: 5px;

    grid-template-areas: 
    "icon"
    "title"
    "subtext"
    "see-more"
    ;

    grid-template-rows: 3fr 2fr 1fr 1fr;

    background-color: white;
    color: black;
    font-family: 'Lexend', sans-serif;
    font-size: 4rem;

    height: 100vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(50% + var(--top-banner-caret-size)) 100%, 50% calc(100% - var(--top-banner-caret-size)), calc(50% - var(--top-banner-caret-size)) 100%, 0% 100%, 0% 0%);
    animation: showTopBannerArrow 3s linear 0s 1;
}

@media all and (min-width: 800px) {
    main.top-banner {
        display: grid;
        gap: 5px;
    
        grid-template-areas: 
        "icon title"
        "icon subtext"
        "see-more see-more"
        ;
    
        grid-template-rows: 3fr 3fr 1fr;
        grid-template-columns: 1fr 3fr;
    
        background-color: white;
        color: black;
        font-family: 'Lexend', sans-serif;
        font-size: 4rem;
    
        height: 100vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(50% + var(--top-banner-caret-size)) 100%, 50% calc(100% - var(--top-banner-caret-size)), calc(50% - var(--top-banner-caret-size)) 100%, 0% 100%, 0% 0%);
        animation: showTopBannerArrow 6s ease-out 0s 1;
    }
}

/*Since the animation above moves everything below it, we will compensate for it by adding a padding top property to the about me section*/
@keyframes aboutMeCompensateForTopBannerMovement {
    0% {
        padding-top: 0;
    }

    50% {
        padding-top: 0;
    }

    100% {
        padding-top: var(--top-banner-caret-size);
    }
}

body > main.window > main#about-me-section {
    padding-top: var(--top-banner-caret-size);
    animation: aboutMeCompensateForTopBannerMovement 6s ease-out 0s 1;
}

main.top-banner > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes hideElement {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes showTopBannerElement {
    from {
        opacity: 0;
        position: relative;
        top: 160px;
    }

    to {
        opacity: 1;
        position: relative;
        top: 0;
    }
}

@keyframes showTopBannerElementNoMove {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main.top-banner > div.icon {
    grid-area: icon;
    padding: 0;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    animation: showTopBannerElement 2s ease-out 1.5s 1, hideElement 1.5s linear 0s 1;
}

main.top-banner > div.icon > svg {
    display: none;
    width: clamp(320px, 35vw, 640px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

svg > .stroke-color-bg1 {
    stroke: var(--background-color-p1);
}

svg > .stroke-color-bg2 {
    stroke: var(--background-color-p2);
}

svg > .stroke-color-l1 {
    stroke: var(--main-text-color);
}

svg > .stroke-color-l2 {
    stroke: var(--secondary-text-color);
}

svg > .stroke-color-1 {
    stroke: var(--primary-color-1);
}

svg > .stroke-color-2 {
    stroke: var(--primary-color-2);
}

svg > .stroke-color-3 {
    stroke: var(--primary-color-3);
}

main.top-banner > div.icon > svg:nth-of-type(1) {
    display: inherit;
    width: clamp(320px, 35vw, 640px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

main.top-banner > div.title {
    grid-area: title;
    font-family: 'Lexend', sans-serif;
    font-size: 4rem;
    font-weight: bolder;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;

    animation: showTopBannerElement 2s ease-out 0s 1;
}

main.top-banner > div.subtext {
    grid-area: subtext;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    animation: showTopBannerElement 2s ease-out 0.5s 1, hideElement 0.5s linear 0s 1;
}

@keyframes animateTopBannerSeeMore {
    0% {
        position: relative;
        bottom: 0px;
    }

    50% {
        position: relative;
        bottom: 20px;
    }
    
    100% {
        position: relative;
        bottom: 0px;
    }
}

main.top-banner > div.see-more {
    grid-area: see-more;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
main.top-banner > div.see-more > p {
    position: relative;
    bottom: 0px;
    animation: animateTopBannerSeeMore 2s ease-in-out 0s infinite, showTopBannerElementNoMove 2s ease-out 3s 1, hideElement 3s linear 0s 1;
}

/*h1*/
main.h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Lexend', sans-serif;
    font-size: 2rem;

    padding: 20px;
    font-weight: bolder;
}

/*Project Cards*/
main.projects {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

    place-items: stretch center;
}

/* Cards */
main.projects > div.card {
    display: grid;
    grid-template-areas: 
    "icon title"
    "description description"
    "run-button run-button"
    ;
    
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr;

    background-color: var(--card-color-1);
    color: var(--card-text-color-1);
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--card-border-color-1);
    min-width: 240px;
    min-height: 240px;
    padding: 10px;
}

main.projects > div.border-dashed {
    border-style: dashed;
}

main.projects > div.border-dotted {
    border-style: dotted;
}

main.projects > div.border-double {
    border-style: double;
}

main.projects > div.border-groove {
    border-style: groove;
}

main.projects > div.color-2 {
    background-color: var(--card-color-2);
    color: var(--card-text-color-2);
    border-color: var(--card-border-color-2);
}

main.projects > div.color-3 {
    background-color: var(--card-color-3);
    color: var(--card-text-color-3);
    border-color: var(--card-border-color-3);
}

main.projects > div.card > div.card-icon {
    padding: 0px;

    grid-area: icon;
}

main.projects > div.card > div.card-icon > img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

main.projects > div.card > div.card-icon > svg {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

main.projects > div.card > div.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Lexend', sans-serif;
    
    padding: 5px;

    grid-area: title;
}

main.projects > div.card > div.card-description {
    font-size: 1rem;
    padding: 5px;

    grid-area: description;
}

main.projects > div.card > div.card-description > a {
    color: var(--card-link-text-color);
    text-decoration: none;
    display: inline;
}

main.projects > div.card > div.card-runnable-button {
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;

    grid-area: run-button;

    width: auto;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    place-self: center center;

    border-radius: 10px;

    background: linear-gradient(90deg, var(--button-runnable-color1), var(--button-runnable-color2));
}

@keyframes animateRunnableButtonIcon {
    0% {
        position: relative;
        right: 0px;
    }

    25% {
        position: relative;
        right: 0.75rem;
    }

    75% {
        position: relative;
        right: -0.75rem;
    }

    100% {
        position: relative;
        right: 0px;
    }
}

main.projects > div.card > div.card-runnable-button::before {
    content: "▶";
    white-space: pre;
    margin-right: 1.5rem;
    position: relative;
    right: 0px;
}

main.projects > div.card > div.card-runnable-button:hover::before {
    animation: animateRunnableButtonIcon 0.5s ease-in-out 0s 1;
}

main.projects > div.card > div.card-unrunnable-button {
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;

    grid-area: run-button;

    width: auto;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    place-self: center center;

    border-radius: 10px;

    background: linear-gradient(90deg, var(--button-unrunnable-color1), var(--button-unrunnable-color2));
}

@keyframes animateUnrunnableButtonIcon {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.5) rotateZ(0deg);
    }

    35% {
        transform: scale(1.5) rotateZ(20deg);
    }

    45% {
        transform: scale(1.5) rotateZ(-20deg);
    }

    55% {
        transform: scale(1.5) rotateZ(20deg);
    }

    65% {
        transform: scale(1.5) rotateZ(-20deg);
    }

    75% {
        transform: scale(1.5) rotateZ(0deg);
    }

    100% {
        transform: scale(1);
    }
}

main.projects > div.card > div.card-unrunnable-button::before {
    content: "✖";
    margin-right: 1.5rem;
    white-space: pre;
}

main.projects > div.card > div.card-unrunnable-button:hover::before {
    animation: animateUnrunnableButtonIcon 0.5s ease-in-out 0s 1;
}

/*Cards for Large Screens*/
@media all and (min-width: 800px) {
    main.projects > div.tall-card {
        grid-row: span 2 / auto;
    
        display: grid;
        grid-template-areas: 
        "icon title"
        "description description"
        "run-button run-button"
        ;
    
        grid-template-rows: 1fr 7fr 1fr;
        grid-template-columns: 1fr 3fr;
    }
    main.projects > div.wide-card {
        grid-column: span 2 / auto;
        display: grid;
        grid-template-areas: 
        "icon title"
        "icon description"
        "icon run-button"
        ;
    
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
    main.projects > div.large-card {
        grid-row: span 2 / auto;
        grid-column: span 2 / auto;
        display: grid;
        grid-template-areas: 
        "icon title"
        "description description"
        "run-button run-button"
        ;
    
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr;
    }
}